body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.folder {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;
}

.folder > span {
  margin: 0 5x 2px 0;
  display: flex;
  background-color: #767676;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  color: white;
  align-items: center;
}

.folder:hover {
  color: #707a86;
}

.file {
  margin: 5px 0;
}

.child {
  transition: all 0.5s ease-in;
}

.hidden {
  display: none;
}

.buttons {
  width: 150px;
  display: flex;
  margin-left: 20px;
  gap: 5px;
}

input {
  position: relative;
  left: -23px;
  margin-top: 5px;
  width: 40%;
  height: 22px;
}

input[type="radio"]:checked + label {
  color: #f0f0f0;
  background-color: #333;
}
